.icn { background: url('../img/sprites.png') no-repeat; width: 32px; height: 32px; }
.icn.TagGreen { background-position: 0px 0px; }
.icn.TagOrange { background-position: -32px 0px; }
.icn.TagRed { background-position: -64px 0px; }
.icn.TagYellow { background-position: -96px 0px; }
.icn.about { background-position: -128px 0px; }
.icn.accept { background-position: -160px 0px; }
.icn.action { background-position: -192px 0px; }
.icn.addAttachment { background-position: -224px 0px; }
.icn.addTags { background-position: -256px 0px; }
.icn.attachment { background-position: 0px -32px; }
.icn.cancel { background-position: -32px -32px; }
.icn.checked { background-position: -64px -32px; }
.icn.clearSearch { background-position: -96px -32px; }
.icn.close { background-position: -128px -32px; }
.icn.copy { background-position: -160px -32px; }
.icn.cut { background-position: -192px -32px; }
.icn.delete { background-position: -224px -32px; }
.icn.download { background-position: -256px -32px; }
.icn.edit { background-position: 0px -64px; }
.icn.excel { background-position: -32px -64px; }
.icn.firstPage { background-position: -64px -64px; }
.icn.haveAttachments { background-position: -96px -64px; }
.icn.help { background-position: -128px -64px; }
.icn.home { background-position: -160px -64px; }
.icn.indeterminate { background-position: -192px -64px; }
.icn.lastPage { background-position: -224px -64px; }
.icn.menu { background-position: -256px -64px; }
.icn.new { background-position: 0px -96px; }
.icn.next { background-position: -32px -96px; }
.icn.noDocument { background-position: -64px -96px; }
.icn.previous { background-position: -96px -96px; }
.icn.refresh { background-position: -128px -96px; }
.icn.removeTags { background-position: -160px -96px; }
.icn.save { background-position: -192px -96px; }
.icn.saveToCloud { background-position: -224px -96px; }
.icn.search { background-position: -256px -96px; }
.icn.selectAll { background-position: 0px -128px; }
.icn.sendMessage { background-position: -32px -128px; }
.icn.settings { background-position: -64px -128px; }
.icn.severity { background-position: -96px -128px; }
.icn.share { background-position: -128px -128px; }
.icn.snapshot { background-position: -160px -128px; }
.icn.snapshotDone { background-position: -192px -128px; }
.icn.sort { background-position: -224px -128px; }
.icn.sortDown { background-position: -256px -128px; }
.icn.sortUp { background-position: 0px -160px; }
.icn.system { background-position: -32px -160px; }
.icn.tags { background-position: -64px -160px; }
.icn.unchecked { background-position: -96px -160px; }
.icn.unselectAll { background-position: -128px -160px; }
.icn.upload { background-position: -160px -160px; }
.icn.user { background-position: -192px -160px; }
.icn.userBanned { background-position: -224px -160px; }
.icn.viewAsGrid { background-position: -256px -160px; }
.icn.viewAsList { background-position: 0px -192px; }
.icn.whois { background-position: -32px -192px; }
.icn.xml { background-position: -64px -192px; }
.icn.white_about { background-position: -96px -192px; }
.icn.white_accept { background-position: -128px -192px; }
.icn.white_action { background-position: -160px -192px; }
.icn.white_addTag { background-position: -192px -192px; }
.icn.white_back { background-position: -224px -192px; }
.icn.white_cancel { background-position: -256px -192px; }
.icn.white_delete { background-position: 0px -224px; }
.icn.white_download { background-position: -32px -224px; }
.icn.white_firstPage { background-position: -64px -224px; }
.icn.white_help { background-position: -96px -224px; }
.icn.white_home { background-position: -128px -224px; }
.icn.white_menu { background-position: -160px -224px; }
.icn.white_new { background-position: -192px -224px; }
.icn.white_next { background-position: -224px -224px; }
.icn.white_refresh { background-position: -256px -224px; }
.icn.white_save { background-position: 0px -256px; }
.icn.white_saveToCloud { background-position: -32px -256px; }
.icn.white_settings { background-position: -64px -256px; }
.icn.white_share { background-position: -96px -256px; }
.icn.white_tag { background-position: -128px -256px; }
.icn.white_upload { background-position: -160px -256px; }
.icn.white_user { background-position: -192px -256px; }
.icn.white_userBanned { background-position: -224px -256px; }
.icn.white_whois { background-position: -256px -256px; }
